{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="col-6 mt-5">
            <h1>Quienes somos</h1>
        </div>
        <div class="col-6 mt-5">
            <p>En OnlyFlans, somos un grupo de fanáticos de los flanes que quiere compartir la alegría de este delicioso postre. Nuestro objetivo es crear un espacio donde puedas descubrir una variedad de flanes y registrarte para acceder a contenido exclusivo. Creemos que cada flan tiene su propia historia y estamos aquí para disfrutarla juntos. ¡Únete a nosotros en esta sabrosa aventura!</p>
        </div>
    </div>

{% endblock %}